<ion-view view-title="Edit" hide-nav-bar="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">
  <ion-content >
    <form ng-submit="updateTask(selectedTask)">
		      <input type="text" ng-model="selectedTask.title" class="form-control" placeholder="Task title" required><br>
		      <textarea ng-model="selectedTask.description" class="form-control" placeholder="Describe what you need done" required></textarea><br>
		      <input type="number" ng-model="selectedTask.total" class="form-control" placeholder="How much will you pay?" required><br>
          <button class="button button-positive" type="submit">Update Task</button>
		</form>
  </ion-content>
  </ion-view>
